<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import tile form acutal request -->
    <title>God'sEye | <%= title %></title> 
</head>
